.category_page_container {
  padding: clamp(0.75rem, 2vw, 2rem);
}

.category_product_list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .category_product_list {
    gap: 1rem;
    justify-content: center;
  }
}
