.auth_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
}


.auth_card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 10px;
  background-color: white;
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.auth_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.auth_container {
  background: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.auth_options {
  text-align: center;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
@media (max-width: 480px) {
  .auth_card {
    padding: 1rem;
  }

  .auth_container {
    padding: 1rem;
  }

  .auth_header h5 {
    font-size: 1.3rem;
  }

  .auth_main {
    padding: 1rem;
  }
}
@media (max-width: 480px) {
  .auth_card {
    padding: 1rem;
  }

  .auth_header h5 {
    font-size: 1.3rem;
  }

  .auth_container {
    padding: 1rem;
  }

  .auth_options {
    font-size: 0.9rem;
  }
}

